nav {
  padding: 1rem 0;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 10rem;
  padding: 0;
}


@media screen and (max-width: 600px) {

  ul {
    justify-content: space-between;
    padding: 1rem;
  }


}
