.input-container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.floating-label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: text;

  transition: transform 0.1s;
}

.floating-label-small {
  font-size: 1rem;
  transform: translateY(-0.65rem);
}

.input-config {
  padding: 1.1rem 1rem 0.4rem 1rem;
  border: #113C4D solid 2px;
  border-radius: 0.5rem;
}

textarea {
  padding: 1.1rem 1rem 0.4rem 1rem;
  border: #113C4D solid 2px;
  border-radius: 0.5rem;
  height: 10rem;
}

.error-text {
  position: absolute;
  bottom: -2rem;
  color: #d58383;
  font-size: 1.4rem;
}

.slider {
  margin-top: 1rem;
  margin-left: 1rem;
}

.point-label {
  margin-left: 1.2rem;
}

@media (max-width: 600px) {

  textarea {
    padding: 1.1rem 1rem 0.4rem 1rem;

  }

  .input-config {
    padding: 1.1rem 1rem 0.4rem 1rem;

  }

  .slider {
    padding: 0;

  }

}
