nav {
  background-color: #113C4D;
  padding: 1rem 0;
}


ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  /* Entfernt gap und ersetzt es durch margin in den Child-Elementen */
  padding: 0 2rem;
  position: relative;
}

/* Stellen Sie sicher, dass Sie die direkten Kinder von ul ansprechen */
ul > li:not(:last-child) {
  margin-right: 10rem; /* Ersetzt gap */
}

li {
  position: relative;
  z-index: 1000;
}

.popup-menu {
  position: absolute;
  right: 2rem;
  display: none;
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
  -webkit-user-select: none; /* Safari Vendor Präfix */

  z-index: 10;
}

.left-menu-container {
  display: flex;
  gap: 1rem;
}

/* Zusätzliche Überprüfung auf ältere Safari-Versionen */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (not (position: sticky)) {
    ul > li:not(:last-child) {
      margin-right: 10rem;
    }
  }
}


.popup-menu-li {
  padding:0.5rem 1rem;
  border: solid 2px white;
}

.popup-menu-li:hover {
  background-color: #113C4D;
  color: white;
}

.popup-menu-li:active {
  color: #113C4D;
  border: solid 2px #113C4D;
  background-color: white;
}

.popup-menu-show {
  display: block;
  background-color: white;
  border: 2px solid #113C4D;;
}



@media screen and (max-width: 600px) {

  ul {
    justify-content: space-between;
    padding: 1rem;
  }


}
