[class^="number-slide"],
[class*=" number-slide"] {
  /*background: grey;*/
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

img {
  height: 300px;

  overflow: visible!important;
}

.zoom-container {
  position: relative;
}

.img-text {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  right: 0;

  padding: 1rem;

  font-size: 1.5rem;

  background-color: rgba(17, 60, 77, 0.35);
}

