<div class="keen-slider" #sliderRef>
  @for (item of items; track item) {
    <div class="keen-slider__slide number-slide1 hm">
      <div class="zoom-container" #zoomContainer (touchstart)="handleTouchStart($event)" (touchmove)="handleTouchMove($event)" (touchend)="resetZoom()">
        <img #zoomImage src="{{item.data?.src}}" alt="">

        <div class="img-text">
          <span>{{currentImageUserName()}} - {{currentImageUpdatedAt()}}</span>
        </div>

      </div>
    </div>
  }
</div>
