
<div class="h2-tag-container">
  <h2 class="text_bold text-truncate">{{rate.title}}</h2>
  <span class="tags text-small text-truncate">{{rate.tagsGlobal}}</span>
  <span class="username">{{rate.username}}</span>
</div>


<div class="text-container">
    <span class="text-small text-truncate">Rating: {{rate.globalRating}}</span>
<!--    <span class="text-small text-truncate color">{{rate.username}}: <i>{{getLastNote()}}</i></span>-->
</div>

<div>
  <app-keen-sl [items]="getAllGalleryItems()"></app-keen-sl>
</div>
