section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2rem;
  padding: 2rem;
}

h2 {
  grid-column: 1 / -1;
  text-align: center;
}

.form-container {
  width: 50%;
}

form {
  margin-top: 4.4rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

button {
  display: flex;
  justify-content: center;
}

.add-pointer-events-none {
  pointer-events: none;
}

.add-pointer-events-none:hover {
  background-color: white;
}

@media (max-width: 1000px) {

  .form-container {
    width: 75%;
  }

}

@media (max-width: 600px) {

  section {
    grid-template-columns: 1fr;
  }

  form {
    margin-top: 1rem;
    /*
    align-items: center;

     */
  }

  .form-container {
    width: 100%;
  }

}

