<section>

  <h2 class="text_bold">Rezept bewerten !</h2>

  <app-image-cr #cropper (Image)="setCroppedImage($event)"></app-image-cr>

  <div class="form-container">


    <form [formGroup]="form">

      <app-member-input
        [name]="'Rezeptname'"
        [type]="'text'"
        [value]="getFormControl('recipeName')">
      </app-member-input>

      <app-member-input
        [name]="'Quelle'"
        [type]="'text'"
        [value]="getFormControl('source')">
      </app-member-input>

      <app-member-input
        [textarea]="true"
        [name]="'Notizen'"
        [type]="'text'"
        [value]="getFormControl('notes')">
      </app-member-input>

      <app-member-input
        [slider]="true"
        [value]="getFormControl('rating')">
      </app-member-input>

    </form>

  </div>


</section>
