section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2rem;
  padding: 2rem;
}

h2 {
  grid-column: 1 / -1;
  text-align: center;
}

.form-container {
  width: 100%;
}

form {
  margin-top: 4.4rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 600px) {

  section {
    grid-template-columns: 1fr;
  }

  form {
    margin-top: 1rem;
    /*
    align-items: center;

     */
  }

}

