<nav>
  @if (isMobile) {

    <ul>
      <li routerLink="members" class="blue-button-white">Home</li>

      <div (click)="togglePopupMenu()">
        <li class="blue-button-white material-symbols-outlined">
          add
        </li>
        <div #popupMenu class="popup-menu">
          <li (click)="reloadComponent(['members/addRate', 'recipe'])" class="popup-menu-li">Rezept</li>
          <li (click)="reloadComponent(['members/addRate', 'product'])" class="popup-menu-li">Produkt</li>
        </div>
      </div>
    </ul>
  } @else {

    <ul>
      <li routerLink="members" class="blue-button-white">Home</li>

      <div (mouseleave)="popupMenu.classList.remove('popup-menu-show')">
        <li class="blue-button-white material-symbols-outlined"
            (mouseenter)="popupMenu.classList.add('popup-menu-show')">
          add
        </li>
        <div #popupMenu class="popup-menu">
          <li (click)="reloadComponent(['members/addRate', 'recipe'])"  class="popup-menu-li">Rezept</li>
          <li (click)="reloadComponent(['members/addRate', 'product'])" class="popup-menu-li">Produkt</li>
        </div>
      </div>

    </ul>

  }
</nav>





