<ul>
  <li routerLink="members" skipLocationChange="true" class="blue-button">Home</li>

  <div (mouseleave)="popupMenu.classList.remove('popup-menu-show')">
    <li routerLink="members" skipLocationChange="true" class="blue-button material-symbols-outlined"
        (mouseenter)="popupMenu.classList.add('popup-menu-show')">
      add
    </li>
    <div #popupMenu class="popup-menu">
      <li routerLink="members/rateRecipe" skipLocationChange="true" class="popup-menu-li">Rezept</li>
    </div>
  </div>

</ul>



