<header>
  <h2 class="text_h2">{{rate.title}}</h2>
  <h3 class="text_tags">{{rate.tags}}</h3>
</header>

<div>
  @if (rate.rateTopic === 'recipe') {
    <app-recipe-view [rate]="rate"></app-recipe-view>
  }

  <button class="icon-button add-rate-button" (click)="addChildRate()">
      <span class="material-symbols-outlined">
      reviews
    </span>
  </button>

</div>


<div class="gallery-container">

  <div #galleryDiv class="gallery">
    <gallery
             [items]="images"
             [thumb]="false"
             [autoHeight]="true"
             [id]="'1'"
    ></gallery>

    <button class="button1 material-symbols-outlined" (click)="galleryToggle()">
      fullscreen
    </button>

  </div>

  <div #galleryDivAbsolut class="absolute-gallery display-controller">
    <gallery
      [items]="images"
      [thumb]="false"
      [autoHeight]="true"
      [id]="'2'"
    ></gallery>

    <button class="button2 material-symbols-outlined" (click)="galleryToggle()">
      fullscreen_exit
    </button>
  </div>
</div>



<app-note [rate]="rate"></app-note>



