:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  max-width: 100rem;
  margin: auto;
}

header {
  grid-column: 1/-1;
}

app-note {
  grid-column: 1/-1;
}

h2,
h3 {
  text-align: center;
}

.add-rate-button {
  margin-left: 1.7rem;
  margin-bottom: 1rem;
}

.gallery-container {
  /*position: relative;*/

  display: flex;
  justify-content: center;
  justify-items: center;

  /*changed :*/
  max-height: 350px;
  overflow: hidden;
}

.gallery {
  width: 350px;
  height: 100%;
  position: relative;
}

.absolute-gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 720px;
  margin: 2rem auto 0;
}

.display-controller {
  opacity: 0;
  z-index: -1000;
}

.blue-button {
  font-size: 2rem;
  padding: 1rem;
  border: solid 2px white;
  border-radius: 1rem;
  user-select: none;
}

.button1 {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 1000;

  font-size: 2rem;
  padding: 1rem;
  border: solid 2px white;
  border-radius: 1rem;
  user-select: none;
}

.button2 {
  position: absolute;
  right: 0.5rem;
  z-index: 1000;
  margin-top: -5rem;

  font-size: 2rem;
  padding: 1rem;
  border: solid 2px white;
  border-radius: 1rem;
  user-select: none;
}

.button1:hover,
.button2:hover{
  cursor: pointer;
  background-color: #113C4D;
  color: white;
}

.text_h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.text_tags {
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 400px) {

  .gallery {
    width: 100%;
    max-width: 100vw;
    margin-bottom: 2rem;
  }

}

@media (max-width: 600px) {

  :host {
    grid-template-columns: 1fr;
  }

}


