<section>

  <h2 class="text_bold">Rate it !</h2>

  <app-image-cr></app-image-cr>

  <div class="form-container">

<!--############################### EDIT #############################-->
<!--                                  ↓                               -->

    @switch (rateTopic) {

      @case ('recipe') {
        <app-recipe-topic-view
          [editRate]="editRate"
          [form]="form"
          (sendDataToParent)="sendData($event)"
          (submitButtonForParent)="submitButton = $event"
        >
        </app-recipe-topic-view>
      }

    }

<!--                                  ↑                               -->
<!--############################### EDIT #############################-->

  </div>

</section>
