<div class="image-container">

  <label class="blue-button">
    <input #input type="file" (change)="fileChangeEvent($event)" (input)="imageSelect()" />
    <h3 class="text-small">
      Bild auswählen
    </h3>

  </label>

  @if (showLoader) {
<!--  TODO:  Funktioniert das überhaupt ?-->
    <app-spinner/>
  }



  @if (input.value) {

    <span class="blue-button material-symbols-outlined add-button" (click)="add()">
      add
    </span>
  }

  @if (showCropper || this.blobs.length === 0) {

    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 4"
      format="jpeg"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded($event)"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      [resizeToWidth]="width"
      [resizeToHeight]="height"
      [onlyScaleDown]="onlyScaleDown"

    ></image-cropper>

  } @else {
    <app-image-gallery #gallery (remove)="removeItem($event)"></app-image-gallery>
  }

  <!-- <img class="image" [src]="croppedImage" /> -->
</div>
