<section #section (click)="section.classList.toggle('show-section')">

  <div class="popup-content" (click)="$event.stopPropagation()">
    <p class="text_bold">Filter</p>

    <div class="text-small">

      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <app-member-input #searchInput
                          [labelInputId]="'input1'"
                          [name]="'Suche...'"
                          [textFieldType]="'text'"
                          [value]="getFormControl('search')"
                          (textChange)="search($event)">
        </app-member-input>

        <button class="add-btn" type="button" (click)="filterService.addSearchToSearchArray(form.get('search')?.value); form.get('search')?.reset(''); searchInput.setFocus()">
          <i>+</i>
        </button>

        <div class="seach-words-container">
          @for (item of filterService.getSearchArray(); track item) {
            <span class="search-item" (click)="removeSearchWord(item)">{{item}}</span>
          }
        </div>


        <div class="select-container">
          <label>
            <input #rezeptSelect [checked]="form.get('rezept')?.value" #rezeptCheckbox type="checkbox" formArrayName="rezept" (change)="updateCheckbox('rezept', rezeptCheckbox.checked)">
            Rezept
          </label>

          <label>
            <input #productSelect [checked]="form.get('produkt')?.value" #produktCheckbox type="checkbox" formArrayName="produkt" (change)="updateCheckbox('produkt', produktCheckbox.checked)">
            Produkt
          </label>

          <label>
            <input [checked]="form.get('foodtruck')?.value" #foodtruckCheckbox type="checkbox" formArrayName="foodtruck"
                   (change)="updateCheckbox('foodtruck', foodtruckCheckbox.checked)">
            Foodtruck
          </label>
        </div>



      </form>


    </div>

    <button class="blue-button button" (click)="section.classList.toggle('show-section')">Ok</button>
  </div>

</section>


